<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {% include "partials/head.njk" %}
    {% block structured_data %}{% endblock %}
</head>
<body class="font-sans text-gray-800 bg-white antialiased">
    {% include "partials/header.njk" %}

    <main id="main-content">
        {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.njk" %}
    {% include "partials/cookie-consent.njk" %}

    <script src="{{ rootPath }}js/main.js" defer></script>
</body>
</html>
