<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Organization",
    "@id": "https://pcdinvestmentpartners.com/#organization",
    "name": "PCD Investment Partners",
    "alternateName": "PCD",
    "url": "https://pcdinvestmentpartners.com",
    "logo": {
        "@type": "ImageObject",
        "url": "https://pcdinvestmentpartners.com/assets/logo/pcd-logo.png",
        "width": 500,
        "height": 200
    },
    "description": "{{ t.structured_data.org_description }}",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Lijndonk 4",
        "addressLocality": "Breda",
        "postalCode": "4812 EL",
        "addressCountry": "NL"
    },
    "telephone": "+31653852753",
    "email": "info@pcdinvestmentpartners.com",
    "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+31653852753",
        "email": "info@pcdinvestmentpartners.com",
        "contactType": "customer service",
        "availableLanguage": ["Dutch", "English", "Spanish", "Portuguese"]
    },
    "sameAs": [
        "https://www.linkedin.com/company/pcd-investment-partners/",
        "https://www.wikidata.org/entity/Q138650684"
    ],
    "foundingDate": "2024-01-01",
    "numberOfEmployees": {
        "@type": "QuantitativeValue",
        "minValue": 2,
        "maxValue": 10
    },
    "knowsAbout": [
        "Healthcare Technology",
        "Digital Health",
        "Healthcare Digitalization",
        "Buy-and-Build Strategy",
        "CareHub Ecosystem",
        "FHIR Interoperability",
        "HL7",
        "NEN 7510",
        "ISO 27001",
        "Healthcare IT",
        "Zorgtechnologie"
    ],
    "areaServed": [
        {
            "@type": "Country",
            "name": "Netherlands"
        },
        {
            "@type": "Place",
            "name": "Europe"
        }
    ]
}
</script>
