<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "PCD Investment Partners",
    "url": "https://pcdinvestmentpartners.com",
    "logo": "https://pcdinvestmentpartners.com/assets/logo/pcd-logo.png",
    "description": "{{ t.structured_data.org_description }}",
    "address": {
        "@type": "PostalAddress",
        "streetAddress": "Lijndonk 4",
        "addressLocality": "Breda",
        "addressCountry": "NL"
    },
    "telephone": "+31653852753",
    "sameAs": [
        "https://www.linkedin.com/company/pcd-investment-partners/"
    ],
    "foundingDate": "2024",
    "numberOfEmployees": {
        "@type": "QuantitativeValue",
        "minValue": 2,
        "maxValue": 10
    },
    "industry": "Healthcare Technology / Digital Health"
}
</script>
